.zn {
	FONT-SIZE: 9px; LINE-HEIGHT: 160%;
    FONT-FAMILY: "Arial"
}
.a9 {
	FONT-SIZE: 9pt;
    FONT-FAMILY: "Arial"
}
LINK {
	FONT-SIZE: 9pt;
    FONT-FAMILY: "Arial"
}
.a10 {
	FONT-SIZE: 9pt;
    FONT-FAMILY: "Arial"
}
.a9engB {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Arial
}
SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: "Arial"
}

a.textbutton
	{
		float: right;
		font: normal 12px Arial;
		line-height: 16px;
		height: 24px;
		padding-left: 11px;
		text-decoration: none;
	}
	a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
	color: #000000; }
	.buttonwrapper{
	overflow: hidden;
	width: 100%;}

a.ovalbutton
	{
		background: transparent url('../images/oval-gray-left.gif') no-repeat top left;
		display: block;
		float: right;
		font: normal 12px Tahoma;
		line-height: 16px;
		height: 24px;
		padding-left: 11px;
		text-decoration: none;
        cursor:pointer ;
	}
	a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
	color: #494949; }
	a.ovalbutton span{
	background: transparent url('../images/oval-gray-right.gif') no-repeat top right;
	display: block;
	padding: 4px 11px 4px 0;
	}
	a.ovalbutton:hover{
	background-position: bottom left;
	}
	a.ovalbutton:hover span{
	background-position: bottom right;
	color: black;
	}
	.buttonwrapper{
	overflow: hidden;
	width: 100%;}


A {
	FONT-SIZE: 9pt; COLOR: #000079; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #ffa800; FONT-FAMILY: "Arial"; TEXT-DECORATION: underline
}
A.headlines {
	COLOR: #000000; FONT-FAMILY: "Arial",Arial,Helvetica
}
.a1 {
	FONT-SIZE: 9pt; FONT-FAMILY: "Arial"
}
P {
	FONT-SIZE: 9pt;
    FONT-FAMILY: "Arial"
}
TD {
	FONT-SIZE: 9pt;
    FONT-FAMILY: "Arial"
}
TR {
	FONT-SIZE: 9pt;
    FONT-FAMILY: "Arial"
}
select {
	FONT-SIZE: 9pt;
	FONT-FAMILY: "Arial";
}
BODY
{
    FONT-FAMILY: "Arial";
    FONT-SIZE: 8pt;
    MARGIN-TOP: 0px;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
    BACKGROUND-COLOR: #F5F5F5;
	margin-bottom: 0px;

}
.input
{
	border-style:solid;
	border-width:1px;
	border-color:#888888;;
    FONT-FAMILY: "Arial"
}
select.Inputselect
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-STYLE:solid solid solid solid;
    border-width:1px 1px 1px 1px;
    border-color:#888888;;
    FONT-FAMILY: "Arial"
}
#title_table
{
	width:100%;
	border-style:groove;
	border-collapse:collapse;
	border-width:0px;
	border-color:whitesmoke;
	BACKGROUND-COLOR: whitesmoke;
	COLOR: WhiteSmoke;

    top:0px;
    height:20px;
    z-index:2;
    FONT-FAMILY: "Arial"

}
#chartdiv
{
	width:100%;
    overflow: hidden;
	border-style:none;
	border-collapse:collapse;
	border-width:1px;
	border-color:#808080;
	BACKGROUND-COLOR: whitesmoke;
	COLOR: WhiteSmoke;
    FONT-FAMILY: "Arial"
}


#function_table
{
	width:100%;
	border-style:none;
	border-collapse:collapse;
	border-width:0px;
	border-color:whitesmoke;
	BACKGROUND-COLOR: whitesmoke;
    top:0px;
	height:25px;
    FONT-FAMILY: "Arial"
}


.input1
{
	border-style:solid;
	border-width:1px;
	border-color:Teal;
    FONT-FAMILY: "Arial"
}
.input2
{
  border-style:solid;
  border-width:0px;
  border-color:#888888;
  font-size:16pt;
  color:Teal;
  font-weight: bold;
    FONT-FAMILY: "Arial"
}
.input3
{
  border-style:solid;
  border-width:0px;
  border-color:#888888;
  color:red;
    FONT-FAMILY: "Arial"
}
.input4
{
	border-style:solid;
	border-width:0px;
	border-color:#888888;
    color:Olive;
}

.table_blue
{
	border-collapse:collapse;
	border:solid 1px #808080;

}
.table_blue td
{
	border:solid 1px #808080;
	padding-left: 3px;

}
.table_blue.first_line
{
    filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=120),Alpha(Opacity=100, FinishOpacity=100, Style=1, StartX=0, StartY=0, FinishX=100, FinishY=100);
	background-color:skyblue;
	height: 25px;
	padding-left: 3px;
}


@charset "utf-8";
/* CSS Document */

.bannerbg {/* Banner 背景图横向平铺，可自适应*/
	background-image: url(../images/banner_right.jpg);
	background-repeat: repeat-x;
	height: 70px;
	width: auto;
}
body {
	margin-top: 0px;
}
.treebgc {/* 树背景色*/
	background-color: #afccea;
}.treetrbg {/* 树标题栏目背景图片*/
	background-image: url(../images/tree_trbg.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 200px;
}

.treebt {
	background-image: url(../images/tree_trbg.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 200px;
	line-height: 27px;
	text-align: left;
	font-size: 14px;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 12px;
	color: #345679;
	font-weight: normal;
	padding-left: 20px;
}
.treebt:hover
{
	background-image: url(../images/tree_trbgOn.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 200px;
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 12px;
	color: #345679;
	font-weight: normal;
	padding-left: 20px;
}

.treetrtitlebgOn {/* 树背景图片 鼠标点击效果*/
	background-image: url(../images/tree_trbgOn.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 200px;
}
.treetrtitlebg {/* 树背景图片 */
	background-image: url(../images/tree_title.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 200px;
}
.sitebg {/* 当前位置背景 */
	background-image: url(../images/sitebg.jpg);
	height: 26px;
    font-family: Arial, Helvetica, sans-serif, "Arial";
}
.font_teetitle {/* 树TOP行字体样式 */
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
}
.font_teetr {/* 树默认字体样式 */
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 12px;
	color: #345679;
	font-weight: normal;
}
.font_position {/* 当前位置字体样式 */
	font-family: "Arial";
	font-size: 12px;
	color: #000;
}
.button_bg {/* banner右侧按钮背景*/
	background-image: url(../images/button_banner.gif);
	background-repeat: no-repeat;
	height: 22px;
	width: 70px;
}
.button_bgOn {/* banner右侧按钮鼠标悬浮背景*/
	background-repeat: no-repeat;
	height: 22px;
	width: 70px;
	background-image: url(../images/buttonOn_banner.gif);
}
.font_button {/* banner右侧按钮字体样式*/
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 12px;
	color: #FFF;
	height: 18px;
	width: 25px;
	margin-left: 25px;
	margin-top: 5px;
}
.font_buttonOn {/* banner右侧按钮鼠标悬浮字体样式*/
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 12px;
	color: #08273d;
	height: 18px;
	width: 25px;
	margin-left: 25px;
	margin-top: 5px;
	font-weight: bold;
}
.table_titlebgleft {/* 表格标题左边样式*/
	background-image: url(../images/table_titlebg.jpg);
	background-repeat: repeat-x;
	height: 26px;
	border: 1px solid #c1cfd2;
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-left: 10px;
}
.table_titlebg {/* 表格标题样式*/
	background-image: url(../images/table_titlebg.jpg);
	background-repeat: repeat-x;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #c1cfd2;
	height: 25px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #c1cfd2;
	border-bottom-color: #c1cfd2;
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-left: 10px;
}
.table_td {/* 表格列样式*/
	height: auto;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #c1cfd2;
	border-bottom-color: #c1cfd2;
	background-color: #edefee;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 12px;
	color: #656565;
}
.table_tdleft {/* 表格列左边样式*/
	height: auto;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #c1cfd2;
	border-bottom-color: #c1cfd2;
	background-color: #edefee;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #c1cfd2;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 12px;
	color: #656565;
}

.table_td:hover{
	background-color: #fff2d2
}
.table_tdleft:hover {
	background-color: #fff2d2
}
.button{
	background-image: url(../images/buttonbg.gif);
	text-align: center;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 12px;
}
.button:hover
{
	background-image: url(../images/buttonbg2.gif);
}
.button_hour{
	background-image: url(../images/buttonbg.gif);
	background-repeat: no-repeat;
	height: 21px;
	width: 35px;
	text-align: center;
	line-height: 21px;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif, "Arial";
	font-size: 12px;
	color: #000;
}
.button_hour:hover
{
	background-image: url(../images/buttonbg2.gif);
}

